/* --- Global --- */
footer {
  background-color: black;
  width: 100%;
  height: 7vh;
  align-items: center;
}

footer ul {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

footer ul li {
  color: white;
  display: flex;
  align-items: center;

  font-size: 15px;
}

footer ul li img {
  height: 4.5vh;
}
