/* --- Global --- */
footer  {
  color: white;
  background-color: black;

  width: 100%;
  min-height: 30px;

  padding: 0;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;

  font-size: 15px;
}

footer div img {
  height: 20px;
  margin: 0px 5px;
}

/* https://www.brunoantunes.fr/newsroom/css-fixer-footer-bas-de-page/ -> code pour mettre le footer en bas de page */
footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}

* html footer {
  position:absolute;
  top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
