/* --- Global --- */
@font-face {
  font-family: 'MyFont';
  src: url('../font/AvenirNextLTPro-Regular.otf');
 }

body, html, canvas {
  margin: 0;
  padding: 0;
  background-color: #CECECE;
  font-family: 'MyFont';
  text-decoration: none;
}

header {
  background-color: rgb(20,20,20);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  align-items: center;
}

/* --- logo + text --- */

header #marque {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  text-decoration: none;
}

header #marque h1 {
  color: white;
  font-size: 1.4vw;
  margin: 0px 10px;
  text-decoration: none;
}

header #marque img {
  height: 5vh;
}

/* --- Accès page --- */

.icon {
  height: 15px;
  margin-right: 6px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header nav ul a {
  text-decoration: none;
  font-size: 1.2vw;
  color: white;
  margin: 0px 35px;
  display: flex;
  align-items: center;
}

header nav ul a:hover {
  color: #01767D;
  font-weight: bold;
}

header nav ul a:hover img {
  filter: invert(33%) sepia(21%) saturate(2876%) hue-rotate(144deg) brightness(58%) contrast(99%);
}

/* --- Recherche --- */
header #search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #search input {
  height: 2.5vh;
  width: 13vw;
  border-radius: 5px;
  margin: 0px 20px;
}

header #search input:focus {
  outline: none;
}
