.corps {
  display: flex;
  align-items: center;
  background-color: #EFEFEF;
  margin: 15px 10vw;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  justify-content: space-around;
}

@media (max-width:700px) {
  .corps {
    flex-wrap: wrap-reverse;
  }
}

.corps div {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 10px 10px;
  flex-wrap: wrap;
}

.corps div img {
  width: 25vw;
  margin: 10px 0px 20px 0px;
  border: solid 1px black;
}

.corps div a {
  height: 6vh;
  padding: 10px;
  background-color: #12686C;
  border-radius: 5px;
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  color: white;
  text-decoration: none;
}

.corps div a:hover {
  background-color: #168596;
}
.corps div a img {
  max-width: 30px;
  height: auto;
  margin: 0;
  border: none;
}

/* description */
.corps div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.corps div div {
  border-top: solid 1.5px grey;
  padding-bottom: 20px;
}

.corps div h1 {
  font-size: 38px;
  margin: 10px;
  text-align: center;
  color: #12686C;
  font-weight: 900;

}

.corps div div p {
  margin: 0 0;
  padding-right: 10px;
  text-align: justify;
  font-style: italic;
}

.corps #prix {
  text-align: center;
  font-size: 20px;
  border: 1px solid black;
  margin: 0 20px;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 3px;
}

.corps #prix + p {
  margin-top: 10px;
  font-size: 12px;
}
td {
  border: 1px solid black;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  padding: 5px 15px;
}

td:first-child {
  text-align: left;
  background-color: #CCCCCC;
}

/*  comment */
.comment {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: 20px 10vw;
  background-color: #EFEFEF;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}

.comment div {
  margin: 15px;
}

.comment input {
  width: 50vw;
  height: 3vw;
  margin-left: 20px;
  background-color: white;
}

.comment h2 {
  margin: 20px;
}

.comm {
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
  margin: 15px 5vw;
  padding: 10px;
  display: flex;
}

.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid 1.5px grey;
  padding: 0 10px;
}

.account p {
  margin: 5px;
  margin-bottom: 0px;
}

.account img {
  width: 40px;
  height: auto;
}

.account div {
  display: flex;
  margin: 0;
}

.account div img {
  width: 20px;
  height: auto;
}

.comm_text {
  padding: 10px;
}
.comm_text p {
  font-size: 17px;
  margin: 5px;
}
