/* --- Global --- */

body #corps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
  height: 90vh;
}

#message {
  background-color: rgba(255,255,255,0.5);
  width: 30%;
}

#message h1 {
  text-align: center;
}

#message p {
  margin: 10px;
  text-align: justify;
}

#infos {
  background-color: rgba(255,255,255,0.5);
  max-width: 30%;
}

/* --- categorie --- */
#categorie h1 {
  margin-left: 20px;
}

#categorie div {
  display: flex;
  justify-content: space-around;
}

#categorie div a {
  background-color: white;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}

#categorie div img {
  height: 200px;
}
